<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sindoq">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sindoq">
        <activity android:name=".Countdown"></activity>
        <activity android:name=".ConfirmPage" />
        <activity android:name=".screens.BlockPage" />

        <receiver
            android:name=".BlockBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.sindoq.intent.action.ACTION_SHOW_TOAST" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".TimerActivityBroadcastReciever"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.sindoq.intent.action.TimerActivityIntent" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".StopServiceBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="stopservice" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".StartServiceBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="startservice" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.example.BgService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".MainActivity" />
        <activity android:name=".TimerActivity" />
        <activity android:name=".BlockAppsActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>